# Heavy Raw Datasets (Do NOT push to Git - over 5GB+)
data/raw/
*.pcap
*.pcap_ISCX.csv
*.binetflow

# Python & Environment Artifacts
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.venv/

# Testing & Logs
.pytest_cache/
*.log
logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.zip

# Local experiment backups
data/processed_backup/
data/processed_focused/
weights/*backup*.pt

